<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>resourceServlet</servlet-name>
    <servlet-class>wikidev.server.ResourceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>resourceServlet</servlet-name>
    <url-pattern>/wikidev/res/*</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>resourceServiceServlet</servlet-name>
    <servlet-class>wikidev.server.ResourceServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>resourceServiceServlet</servlet-name>
    <url-pattern>/wikidev/resource</url-pattern>
  </servlet-mapping>
 
  <!-- Servlets -->
  <servlet>
    <servlet-name>apptoolsServiceServlet</servlet-name>
    <servlet-class>wikidev.server.apptools.AppToolsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>apptoolsServiceServlet</servlet-name>
    <url-pattern>/wikidev.AppTools/apptools</url-pattern>
  </servlet-mapping>
   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Wikidev.html</welcome-file>
  </welcome-file-list>

</web-app>
